@model Sabor

@{ ViewData["Title"] = "Índice Sabor";
}

<h1>Pizzas</h1>

<div class="row row-cols-2 row-cols-md-3">

        <div class="col mb-4">
            <div class="card h-100">
                <img src="@Model.FotoUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Nome</h5>
                </div>
            </div>
        </div>
    

</div>