@*@model IEnumerable<Pizza>

@{ ViewData["Title"] = "Índice Pizza";
}

<h1>Pizzas</h1>

<div class="row row-cols-2 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://cdn6.campograndenews.com.br/uploads/noticias/2022/03/04/3cb5530b66938475b217183a18974de301f5b0fd.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Calabresa</h5>
                <button type="button" class="btn btn-success">Criar</button>
                <button type="button" class="btn btn-primary">Detalhes</button>
                <button type="button" class="btn btn-warning">Atualizar</button>
                <button type="button" class="btn btn-danger">Deletar</button>
            </div>
        </div>
    </div>

    @foreach (var pizza in Model)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <img src="@pizza.FotoUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@pizza.Nome</h5>
                    <button type="button" class="btn btn-success">Criar</button>
                    <button type="button" class="btn btn-primary">Detalhes</button>
                    <button type="button" class="btn btn-warning">Atualizar</button>
                    <button type="button" class="btn btn-danger">Deletar</button>
                </div>
            </div>
        </div>
    }

    </div>*@